{#<div class="d-flex justify-content-end mb-2">
                  {{ knp_pagination_sortable(products, 'Prix', 'p.price') }}
                  {{ knp_pagination_sortable(products, 'Promo', 'p.promo') }}
              </div> #}

